body {
    font-family: Gil Sans, Arial;
    font-size: 10pt;
    padding: 6px;
}


#footer {
    width:100%;
    text-align: center;
}


li.folder:hover {
    cursor: pointer;
}

li.folder>span {
    padding: 2px;
}

li.folder>span:hover {
    background: url(/static/images/hover.png);
}


a {
    text-decoration: none;
    color: #369;
}

a.toolbar{
    padding: 3px;
}

a.toolbar:hover {
    background: url(/static/images/hover.png);
    color: #000;
}


.entry {
    cursor: pointer;
}

.entry_odd {
    background-color: #fff;    
}

.entry_even {
    background-color: #eee;
}

.entry:hover {
    background-color:#9cf;
    background: url(/static/images/hover.png);
}

.selected {
    background-color: #66f;
    background: url(/static/images/hover2.png);
    color: #fff;
}


.treeview, .treeview ul {  
    padding: 0; 
    margin: 0; 
    list-style: none; 
}     
             
.treeview li {  
    margin: 0; 
    padding: 4px 0 3px 20px; 
} 
                     
.treeview li { background: url(/static/images/treeview/tv-item.gif) 0 0 no-repeat; } 
.treeview .collapsable { background-image: url(static/images/treeview/tv-collapsable.gif); } 
.treeview .expandable { background-image: url(static/images/treeview/tv-expandable.gif); } 
.treeview .last { background-image: url(/static/images/treeview/tv-item-last.gif); } 
.treeview .lastCollapsable { background-image: url(/static/images/treeview/tv-collapsable-last.gif); } 
.treeview .lastExpandable { background-image: url(/static/images/treeview/tv-expandable-last.gif); }


.selected_folder { 
    padding: 3px;
    background: url(/static/images/hover2.png);
    font-weight: bold;
    color: #fff;
}


.vsplitbar {
    width: 9px;
    background: url('/static/images/vsplitter.png');
}

.hsplitbar {
    height: 9px;
    background: url('/static/images/hsplitter.png');
}

.splitbar_hover {
    background-color: lightyellow;   
}

#rootpane {
    height: 500px;
}

#folderpane {
    padding: 4px;
    overflow: auto;
    width: 150px;
    min-width: 100px;
    background: #fff;
}


#entrypane {
    padding: 4px;
}

#entries {
    height:200px;
    background: #fff;
    overflow: auto;
}

#entrycontent {
    background: #fff;
    height: 300px;
    overflow: auto;
}


table.entries > thead {
    background: #333;
    color: #fff;
    font-weight: bold;
}

input, textarea {
    background-color: #fff;
    border: 1px solid;
    border-top-color: #ddd;
    border-left-color: #ddd;
    border-bottom-color: #ccc;
    border-right-color: #ccc;
}

.hoverbtn {
    background-color: #9cf;
    background: url(/static/images/hover3.png);
    border: 1px solid #666;
    color: #fff;
}

.active {
    background-color: lightyellow;
}

.hover_folder {
    background: url(/static/images/hover.png);
}
